<h1>Caption Rater</h1>
<h3><strong>View caption list</strong></h3>
<p><%= link_to 'Caption List', captions_path %></p>
<h3><strong>Create a new caption</strong></h3>
<p><%= link_to 'Make your own', new_caption_path %></p>